<div class="fixed h-screen inset-0 flex items-center justify-center z-10 bg-backg bg-opacity-80 ">
    <div class="bg-gris bg-opacity-100 p-6 rounded">
      <h2 class="text-xl mb-4 text-text">{{message}}</h2>
      <div class="w-full flex gap-4 justify-end">
        <button class="bg-backg text-red py-1 px-3 rounded-md opacity-80 hover:opacity-100 ease-in-out duration-200" (click)="confirm()">Confirmar</button>
        <button class="bg-backg text-text py-1 min-w-fit px-3 rounded-md opacity-80 hover:opacity-100 ease-in-out duration-200" (click)="cancel()">Cancelar</button>
      </div>
    </div>
  </div>
  