<div class=" ">
 
    <div class=" ">
      <div class=" ">
        <h1 class=" ">Recuperar password</h1>
          <form [formGroup]="requestForm" (ngSubmit)="requestNewPass()" class="w-full">
            <div class=" ">
              <label class=" " for="email">Email</label>
              <input [ngClass]=" " id="email"
                formControlName="email" class=" " type="email"
                placeholder="prueba@prueba.com" />
            </div>
            <div>
              <button type="submit" [ngClass]=" " class=" "
                [disabled]="loading || !requestForm.valid">
                {{ loading ? 'Enviando...' : 'Recuperar password' }}
              </button>
            </div>
          </form>
          <a class=" " routerLink="/login">Volver atrás</a>
      </div>
  
    </div>
  </div>
  <!-- Alert -->
<app-alert-message-modal [message]="messageModal"  [classes]="classesModal" (close)="closeAlert()" *ngIf="showAlertModal">
</app-alert-message-modal>