<div class=" ">
    <div *ngIf="showmessage"
      class=" ">
      <p>Nuevo password creado correctamente</p>
    </div>
    <ng-container *ngIf="isRecovery; else noRecovery">
      <div class=" ">
        <div class=" ">
  
          <h1 class=" ">Recuperar password</h1>
            <form [formGroup]="resetPassForm" (ngSubmit)="resetPass()" class=" ">
              <div class=" ">
                <label class=" " for="pass">Nuevo Password</label>
                <input [ngClass]=" " id="pass"
                  formControlName="pass" class=" " type="password"
                  placeholder="*********" />
              </div>
              <div class=" ">
                  <label class=" " for="confirmPass">Confirmar Password</label>
                  <input [ngClass]=" " id="confirmPass"
                    formControlName="confirmPass" class=" " type="password"
                    placeholder="*********" />
                </div>
              <div>
                <button type="submit" [ngClass]=" " class=" "
                  [disabled]="loading || !resetPassForm.valid">
                  {{ loading ? 'Enviando...' : 'Recuperar password' }}
                </button>
              </div>
            </form>
            <a class=" " routerLink="/login">Volver atrás</a>
        </div>
    
      </div>

    </ng-container>
    <ng-template #noRecovery>
      <div class=" ">
        <div class=" ">
  
          <h1 class=" ">Recuperar password</h1>
          </div>
          </div>
    </ng-template>
  </div>
    <!-- Alert -->
<app-alert-message-modal [message]="messageModal"  [classes]="classesModal" (close)="closeAlert()" *ngIf="showAlertModal">
</app-alert-message-modal>