<div class="">
    <div class="">
      <div
        class="">
        <div class="" aria-live="polite">
          <h1 class="">Crear nuevo usuario</h1>
          <div>
            <form [formGroup]="signupForm" (ngSubmit)="signup()" class="w-full">
              <div class="">
                <label class="" for="email">Email</label>
                <input [ngClass]="" id="email"
                  formControlName="email" class="bg-white/10" type="email" placeholder="" />
              </div>
              <div class="">
                <label class="" for="pass">Password</label>
                <input [ngClass]="" id="pass"
                  formControlName="pass" class="bg-white/10" type="password" placeholder="" />
              </div>
              <div class="">
                <label class="" for="passConfirm">Confirmar Password</label>
                <input [ngClass]="" id="passConfirm"
                  formControlName="passConfirm" class="bg-white/10" type="password" placeholder="" />
              </div>
              <div>
                <p class="text-xs italic text-red-500/50">El password debe contener al menos 6 caracteres, una mayúscula, una minúscula y un número</p>
              </div>
              <!-- TODO formulario completo con nombre de usuario, web, etc -->
              <div>
                <!-- loading ||  !signupForm.valid -->
                <button [ngClass]="" type="submit" class=""
                [disabled]="false" >
                {{ loading ? 'Enviando...' : 'Crear cuenta' }}
              </button>
              </div>
            </form>
          </div>

        </div>
        <a class="" routerLink="/login">Login</a>
  
      </div>
      <app-alert-message-modal [message]="messageModal"  [classes]="classesModal" (close)="closeAlert()" *ngIf="showAlertModal">
      </app-alert-message-modal>
  
    </div>
  </div>
