<div class="fixed h-screen inset-0 flex items-center justify-center z-10 bg-black bg-opacity-80 ">
    <div class="bg-black bg-opacity-100 p-6 rounded">
      <h2 class="text-xl mb-4 text-white">¿Seguro desea eliminar el Rol?</h2>
      <div class="w-full flex gap-4 justify-end">
        <button class="bg-white/10 text-white  py-1 px-3 rounded-md opacity-90 hover:opacity-100 ease-in-out duration-100" (click)="confirm()">Confirmar</button>
        <button class="bg-white/10  text-red-700 py-1 px-3 rounded-md opacity-90 hover:opacity-100 ease-in-out duration-100" (click)="cancel()">Cancelar</button>
      </div>
    </div>
  </div>
